---
import { LOGS_CONFIG } from '~/config'
import Layout from '~/layouts/Layout.astro'
import LogTimeline from '~/components/logs/LogTimeline.astro'
import PageTitle from '~/components/base/PageTitle.astro'
import { LogsList } from '~/lib/logs'

const { title, description, introduce } = LOGS_CONFIG
---

<Layout {title} {description}>
  <div class="relative z-[1] py-8 pb-10 px-6 sm:px-8">
    <PageTitle {title} {introduce} />
    <div class="mt-12">
      {
        LogsList.length > 0 ? (
          <LogTimeline logData={LogsList} />
        ) : (
          <div class="text-muted-foreground mb-4">
            <p class="text-sm">No logs yet, wait for me to return, OvO</p>
          </div>
        )
      }
    </div>
  </div>
</Layout>
